.gallery-block{
  padding-bottom: 40px;
  padding-left: 0px;
	padding-top: 0px;
}

.gallery-block .heading{
    margin-bottom: 50px;
}

.gallery-block .row{
  max-width: 1000px;
  padding-left: 8px;
}

.gallery-block .heading h2{
    font-weight: bold;
    font-size: 1.4rem;
    text-transform: uppercase;
}

.gallery-block.cards-gallery h6 {
  font-size: 14px;
  font-weight: bold;
}

.gallery-block.cards-gallery .card{
  transition: 0.3s ease;
}

.gallery-block.cards-gallery .card img {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.15);
}

.gallery-block.cards-gallery .card-body {
  text-align: center;
}

.gallery-block.cards-gallery .card-body p {
  font-size: 12px;
	font-weight: bolder;
}

.gallery-block.cards-gallery a {
  color: #212529;
}

.gallery-block.cards-gallery a:hover {
  text-decoration: none;
}

.gallery-block.cards-gallery .card {
  margin-right: -10px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.15);
}

	.gallery-block .transform-on-hover:hover {
	    transform: translateY(-6px) scale(1.0);
	    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.15) !important;
	}

  .card-img-top {
    border-top-left-radius: calc(0rem - 0px) !important;
    border-top-right-radius: calc(0rem - 0px) !important;
    border-bottom-left-radius: calc(0rem - 0px) !important;
    border-bottom-right-radius: calc(0rem - 0px) !important;
  }

  .card {
    border-radius: 0rem !important;
  }

  @media (max-width: 576px) {
    .gallery-block{
      padding-left: 0px;
    }

    .gallery-block .row{
      padding-left: 0px;
    }
}
