#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  left: 0px !important;
  bottom: 70px; /* Place the button at the bottom of the page */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: black; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 10px 15px 10px 14px; /* Some padding */
  border-radius: 0px 4px 4px 0px; /* Rounded corners */
  font-size: 9px; /* Increase font size */
  transition: 0.3s;
}

#myBtn:hover {
  background-color: purple /* Add a dark-grey background on hover */
}
