.shadow-sm {
    box-shadow: 0 0 .5 .5 !important;
}

.fs-3 {
    font-size: 11.5px !important;
    letter-spacing: 1.5px !important;
 }

 .fs-5 {
    font-size: 10px !important;
    letter-spacing: 1px !important;
     color: white;
}

 .fs-6 {
    font-size: 75% !important;
 }

 .fs-7 {
    font-weight: 650;
    font-size: 60% !important;
    letter-spacing: .1rem;
 }

 .btn {
   color: #4682B4!important;
}

.btn:hover {
   color: teal !important;
}

@media only screen and (max-width: 950px) {
    .home {
       padding-left: 10%;
       padding-right: 10%;
    }
 }
 
 @media only screen and (max-width: 600px) {
    .home {
        padding-left: 10%;
        padding-right: 10%;
     }
 }